version: '3'

services:
  quafka_a:
    build:
      context: .
    image: bodaay/quafka:latest
    command: quafka broker --id 0 --raft-addr=quafka_a:9093 --bootstrap --bootstrap-expect=3

  quafka_b:
    build:
      context: .
    image: bodaay/quafka:latest
    command: quafka broker --join=quafka_a:9094 --id 1 --raft-addr=quafka_b:9093 --bootstrap-expect=3

  quafka_c:
    build:
      context: .
    image: bodaay/quafka:latest
    command: quafka broker --join=quafka_a:9094 --id 2 --raft-addr=quafka_c:9093 --bootstrap-expect=3
